* {
    box-sizing: border-box;
    color: rgb(157, 9, 14);
}



body {
    background-color: rgb(230, 230, 230);
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

.mainmain{
    width: 100%;
    padding: 20px;
display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 230, 230);
}
.main {
    width: 80vw;
    min-width: 300px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: white;
}

input {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.elem {
    width: 40%;
    min-width: 250px;
}


.row {
    display: flex;
    width: 100%;
    margin: 20px;
    justify-content: space-around;
}

textarea {
height: 300px;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.mainMsg{
    display: grid;
    place-items: center;
   
}
.subBut{
    padding: 10px;
    width: 20%;
    border: 0px;
    background-color:rgb(157, 9, 14) ;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    min-width: 100px;
}
.subBut:hover{
    background-color:rgb(190, 10, 16) ;
}

.footer{
    z-index: 10;
    background-color: rgb(157, 9, 14);
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

p{
    font-weight: bold;
}

.logo{
    height: 80px;
margin: 10px;
}

h1{
    color:rgb(255, 255, 255);
    margin: 0px;
    margin-top: 10px;
    text-align: center;
}

.userlogo{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin: 25%;
    cursor: pointer;
}

h4{
    color: white;
    text-align: center;
    
}
@media only screen and (max-width: 1050px){
    body{
        overflow-x:hidden ;
        width: 100%;
    }
    .row{
        display: block;
    }
    .elem{
        width: 80%;
    }
    h1{
        font-size: 20px;
    }
}